body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
}

.div_light {
    background-color: white;
    border: 3px dotted rgb(48, 34, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(255, 230, 0), white, rgb(4, 0, 255));
    color: black;
}

iframe {
    margin: 20px 0;
}

footer {
    background-color: #ddd;
    padding: 15px;
}
